/* FontAwesome is used for icons */
@import "@bryntum/grid/fontawesome/css/fontawesome.css";
@import "@bryntum/grid/fontawesome/css/solid.css";
/* Import grid's structural CSS */
@import "@bryntum/grid/grid.css";
/* Import your preferred Bryntum theme */
@import "@bryntum/grid/svalbard-light.css";

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

/*
  Reset body and html to remove default margins/padding
*/


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
}

/*
  A stylesheet customizing app (custom renderers)
*/
table.htCore tr.odd td {
  background: #fafbff;
}

/*
  A stylesheet customizing Handsontable style
*/
.handsontable {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.collapsibleIndicator {
  text-align: center;
}
